In [4]:
#PostgreSQL
import psycopg2
from tqdm import tqdm, tqdm_notebook
#MS SQL 
import pyodbc
import re
from nltk.tokenize import sent_tokenize, word_tokenize
from random import randint
import sqlite3

In [63]:
try:
    conn = psycopg2.connect("dbname = 'News' user='postgres' host = 'localhost' password = '16052003'" )
except:
    print('false')
cur = conn.cursor()

In [49]:
#MS SQL
server = 'NUTS' 
database = 'MK_news_2000'
username = '' 
password = '' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cur_sql = cnxn.cursor()

In [50]:
cmd = "Select doc_text from Documents"
cur_sql.execute(cmd)
w = cur_sql.fetchall()
len(w)

2000

In [125]:
for i in w[:2000]:
    cmd = "insert into Documents (doc_text) values (?)"
    cur_sql.execute(cmd,i[0])
    cur_sql.commit()

('- В первый раз окунулась в прорубь пять лет назад - начала свой рассказ Юлия. - Мои коллеги давно отменяют все дела в этот день и ночью окунаются в прорубь. Мне, в какой-то момент, наверное, не хватало смелости сделать этот шаг, но в итоге, может и стыдно сказать, но в первый раз я окунулась на спор. Это произошло как-то само по себе. Все пошли, и я пошла. - Но ведь к этому должна быть подготовка. Это же опасно для здоровья просто так в мороз пойти и окунуться... - Сначала это было желание испытать себя: смогу ли я? Но после первого раза я поняла, что это совсем не страшно, и реально ощутила какое-то очищение и легкость. Конечно я слушала многочисленные рассказы, но все же не могла представить себе как это здорово и как ты прекрасно себя чувствуешь после этого. Кстати, после я не болела простудой и вообще жизнь как-то изменилась. Решились какие-то проблемы, многие заботы как будто реально смыло крещенской водой. - Вы сейчас окунаетесь в прорубь? - После этого случая я пошла к батюшке, чтобы он рассказал он рассказал мне подробнее об этом таинстве. Я стала понимать его истинный смысл. Дальше я уже окуналась осознанно. Именно он мне и рассказал мне о подготовке. - Поделитесь и с нами. - Конечно, лучше всего подготовиться к купанию в Крещенской Иордани. За неделю до этого надо начинать принимать контрастный душ по утрам и вечерам. Сначала десять секунд стоять под холодной водой, постепенно увеличивая время. После купания очень важно быстро растереться полотенцем, обязательно надеть теплые валенки или сапоги и выпить горячего чая. В этом году, к сожалению, я пропущу купания, по уважительной причине. Но обязательно поеду к проруби со своими ребятами, буду поддерживать их морально, подавать горячий чай и полотенца. В восторге от крещенского купания осталась певица Елена Князева: - Я не первый год собиралась, но страх, холод меня останавливал. В прошлом году решила, что искупаюсь, но хотелось сделать это в каком-то особенном месте, поэтому уговорила друзей поехать в Дивеево. Была наслышана о тамошних удивительных монастырях и купальнях которые оборудовали не так давно. Теперь там целый отдельный «городок», куда можно приехать пообщаться с работниками храмов, окунуться в святые источники, которые многим помогают побороться с различными болезнями. В минуты, как я окунулась в воду, почувствовала себя совершенно в другой реальности. Еще больше эмоциональных ощущений пришлось на первые секунды после того, как вылезла из купели. Мне казалось, что мое тело не понимало, что с ним произошло, сердце бешено колотилось, хотелось дарить всем радость и улыбку. Я вышла из воды будто обновленная, ощущала некий внутренний жар, возможно поэтому так и не почувствовала холод, которого боялась. Теперь для меня Дивеево является особенным местом, очень рада, что первое купание было именно там. Домой я поехала с большим оптимизмом, бодростью духа, в гармонии сама с собой. Думаю, что теперь это будет моей личной традицией.', )

In [61]:
def pre_pro(text):
    text = re.sub(r'\xa0',' ',text)
    text  = re.sub(r'\n',' ',text)
    text  = re.sub(r'\'', '',text)
    text  = re.sub(r'\[', '',text)
    text  = re.sub(r'\]', '',text)
    text  = re.sub(r'\\', '',text)
    return text

In [2]:
conn = sqlite3.connect("news_base.db") 
cursor = conn.cursor()

In [3]:
cmd = "Select article, title from News  limit 30000"
cursor.execute(cmd)

In [8]:
w[20203]

("['нападающий мадридского «реала» и сборной португалии по футболу криштиану роналду приобрел отель в монте-карло. об этом сообщает marca.', 'футболист купил недвижимость за 140 миллионов евро у компании the proto group, владельцем которой является итальянский бизнесмен алессандро прото. он же в августе продал роналду апартаменты в нью-йоркском небоскребе за 16 миллионов евро.', '11 января криштиану роналду ', 'уступил', ' аргентинскому нападающему «барселоны» в голосовании за «золотой мяч» фифа по итогам 2015 года, утратив звание лучшего футболиста мира, которое удерживал с 2013 года.', 'в декабре появилась ', 'информация', ', что роналду откроет сеть отелей в португалии, мадриде и нью-йорке под именным брендом cr7. в проект форвард вложил 37 миллионов евро.', 'в мае прошлого года роналду был признан самым богатым футболистом мира. его годовой доход с учетом зарплаты в «реале», рекламных и спонсорских контрактов составил 73 миллиона евро.']",
 'Роналду купил отель в Монте-Карло за 140 миллионов евро')

In [62]:
#для моих новостей

#cmd = "Select article, title from News  limit 20000"
#cursor.execute(cmd)


#w = cursor.fetchall()
print(len(w))
K = 1000
k=0
while k<K:
    item = w.pop(randint(0,len(w)))
    (full_new, title) = item
    if full_new is not None and len(full_new)>400:
        full_new = pre_pro(full_new)
        if title is None:
            title = ''
        title = pre_pro(title)
        cmd = """insert into Documents (doc_text,title) values (?,?) """
        cur_sql.execute(cmd, (full_new,title))
        cur_sql.commit()
        k+=1

4000

In [31]:
a = w[0]
len(a[0])

1709

In [32]:
f = 'Все, звучит финальный свисток! "Барселона" проигрывала "Атлетико" по ходу матча со счетом 0:1, но во втором тайме смогла собраться и забить два мяча! У гостей отличился Фернандо Торрес, а у хозяев дубль оформил Луис Суарес. Ждем ответной встречи! На этом все, дорогие друзья'

In [33]:
len(f)

274

In [3]:
cursor.execute("SELECT @@version;") 
row = cursor.fetchone() 
while row: 
    print( row[0] )
    row = cursor.fetchone()

Microsoft SQL Server 2014 (SP1-GDR) (KB4019091) - 12.0.4237.0 (X64)
	Jul  5 2017 22:03:42
	Copyright (c) Microsoft Corporation
	Web Edition (64-bit) on Windows NT 6.3 <X64> (Build 9600: )

In [28]:
row = cur.fetchone() 
print(row[0])
print(row[1])
print(row[2])
print(row[3])
cmd = """insert into Documents (doc_text,title,ann_site,ann_vk) values (?,?,?,?) """
cursor.execute(cmd, (row[0],row[1],row[2],row[3]))
cursor.commit()

Защита главы Фонда борьбы с коррупцией Алексея Навального подала апелляцию на приговор по результатам повторного рассмотрения судом по «делу «Кировлеса». Об этом сообщает «Интерфакс» со ссылкой на адвоката политика Вадима Кобзева. По словам Кобзева, подана совместная жалоба на решения суда с защитниками предпринимателя Петра Офицерова. Защита просит «приговор отменить и прекратить уголовное преследование наших подзащитных в связи с их непричастностью и отсутствием состава и события преступления». Ленинский суд Кирова повторно вынес приговор по «делу «Кировлеса» 8 февраля. Судья признал Навального виновным в хищении 16 млн руб. путем растраты, а Офицерова — в пособничестве данному преступлению. Приговор вступит в законную силу только после рассмотрения жалобы Кировским областным судом. Судья приговорил Навального и Офицерова к условным срокам: пяти и четырем годам соответственно. Также осужденным назначены штрафы по 500 тыс. руб., которые были зачтены, так как осужденные оплатили их уже по итогам первого приговора.
Защита Навального и Офицерова подала жалобу по «делу «Кировлеса»
None
Алексей Навальный и Петр Офицеров обжаловали приговор по «делу «Кировлеса». Теперь приговор вступит в законную силу только после рассмотрения жалобы судом:

In [57]:
w = cur.fetchall()
len(w)

20000

In [6]:
#рондомный выбор документов
w = cur.fetchall()
K = 1000
k=0
while k<K:
    item = w.pop(randint(0,len(w)))
    (full_new, title) = item
    if full_new is not None and len(full_new)>400:
        full_new = pre_pro(full_new)
        if title is None:
            title = ''
        title = pre_pro(title)
        cmd = """insert into Documents (doc_text,title) values (?,?) """
        cur_sql.execute(cmd, (full_new,title))
        cur_sql.commit()
        k+=1

In [99]:
cmd =  "select full_new , url_new from news limit 20000"
cur.execute(cmd)
w = cur.fetchall()

In [105]:
len(w)

20000

In [108]:
for item in w:
    a = re.split(r'/',item[1])
    if a[2]=='www.mk.ru':
        
        if item[0] is not None and len(item[0])>400:
            cmd = """insert into Documents (doc_text,category) values (?,?) """
            cur_sql.execute(cmd, (pre_pro(item[0]),a[3]))
            cur_sql.commit()

In [44]:
len(w)

3875

In [31]:
w[0]
len(sent_tokenize(w[0][0]))

29

In [51]:
part_id = 0

for doc_id, t in enumerate(w):
    text = sent_tokenize(t[0])
    length = len(text)
    mod =length%10 #остаток от деления

    div = length//10
    if mod<6:
        for i in range(div-1) :
            
            part_text = (text[i*10: (i+1)*10])
            cmd = """insert into Parts_of_documents ( doc_id, part_text) values (?,?)"""
            cur_sql.execute(cmd,( doc_id,str(part_text)))
            cur_sql.commit()          
            #print((part_text))
            #print("doc_id "+str(doc_id) + "  part_id" + str(part_id) +"   "+ str(length) + " "+  str(part_text))
            
            #part_id+=1
                                 
        part_text = (text[ (div-1)*10:])
        cmd = """insert into Parts_of_documents (doc_id, part_text) values (?,?)"""
        cur_sql.execute(cmd,(doc_id,str(part_text)))
        cur_sql.commit()                               
        #print("doc_id "+str(doc_id) + "  part_id" + str(part_id) +"   " + str(length) + " "+ str(part_text))
        #part_id+=1 
        
    else : 
        for i in range(div+1) :                    
            part_text = (text[i*10: (i+1)*10])
            cmd = """insert into Parts_of_documents ( doc_id, part_text) values (?,?)"""
            cur_sql.execute(cmd,( doc_id,str(part_text)))
            cur_sql.commit()            
            #print(part_text)
            #print(len(part_text))
            #print("doc_id "+str(doc_id) + "  part_id " + str(part_id) +"   " + str(length) + " "+  str(part_text))
            
            #part_id+=1

In [21]:
part_text

['После купания очень важно быстро растереться полотенцем, обязательно надеть теплые валенки или сапоги и выпить горячего чая.',
 'В этом году, к сожалению, я пропущу купания, по уважительной причине.',
 'Но обязательно поеду к проруби со своими ребятами, буду поддерживать их морально, подавать горячий чай и полотенца.',
 'В восторге от крещенского купания осталась певица Елена Князева: - Я не первый год собиралась, но страх, холод меня останавливал.',
 'В прошлом году решила, что искупаюсь, но хотелось сделать это в каком-то особенном месте, поэтому уговорила друзей поехать в Дивеево.',
 'Была наслышана о тамошних удивительных монастырях и купальнях которые оборудовали не так давно.',
 'Теперь там целый отдельный «городок», куда можно приехать пообщаться с работниками храмов, окунуться в святые источники, которые многим помогают побороться с различными болезнями.',
 'В минуты, как я окунулась в воду, почувствовала себя совершенно в другой реальности.',
 'Еще больше эмоциональных ощущений пришлось на первые секунды после того, как вылезла из купели.',
 'Мне казалось, что мое тело не понимало, что с ним произошло, сердце бешено колотилось, хотелось дарить всем радость и улыбку.']